:root[data-theme="light"] {
  --text: #000000;
  --background: #ffffff;
  --primary: var(--clr-primary-a0);
  --navbar: var(--color-primary-800);
  --secondary: #dec7f0;
  --accent: var(--clr-accent-a0);
}

:root[data-theme="dark"] {
  --text: #ffffff;
  --background: #170925;
  --primary: #946db6;
  --primary2: #a491b5;
  --secondary: #260f38;
  --accent: #8e44cf;}

:root {

/** CSS PRIMARY COLORS */
 
--clr-primary-a0:  #6f8f1d;
--clr-primary-a10:  #59711c;
--clr-primary-a20:  #435419;
--clr-primary-a30:  #2e3915;
--clr-primary-a40:  #1b1f0e;

 
/** CSS ACCENT COLORS */
 
--clr-accent-a0:  #1d8f76;
--clr-accent-a10:  #1e715e;
--clr-accent-a20:  #1c5446;
--clr-accent-a30:  #183930;
--clr-accent-a40:  #11201b;
 
 
/** CSS SEMANTIC COLORS */
 
--clr-Danger-a0:  #b41c2b;
--clr-Success-a0:  #009f42;
--clr-Warning-a0:  #cc8800;
--clr-Info-a0:  #388cfa;
 
 
/** CSS NEUTRAL COLORS */
 
--clr-neutral-a0:  #ffffff;
--clr-neutral-a10:  #c6c6c6;
--clr-neutral-a20:  #919191;
--clr-neutral-a30:  #5e5e5e;
--clr-neutral-a40:  #303030;
--clr-neutral-a50:  #000000;

/** CSS DARK THEME PRIMARY COLORS */
 
 --color-primary-100:  #6f8f1d;
 --color-primary-200:  #809b3a;
 --color-primary-300:  #90a753;
 --color-primary-400:  #a0b36b;
 --color-primary-500:  #b0c083;
 --color-primary-600:  #c0cc9b;
 --color-primary-700:  #d0d9b4;
 --color-primary-800:  #dfe5cc;
 --color-primary-900:  #eff2e6;
 --color-primary-999:  #ffffff;
 
 
/** CSS DARK THEME SURFACE COLORS */
 
 --color-surface-100:  #121212;
 --color-surface-200:  #282828;
 --color-surface-300:  #3f3f3f;
 --color-surface-400:  #575757;
 --color-surface-500:  #717171;
 --color-surface-600:  #8b8b8b;

}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
}

#root {
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--text);
  background-color: var(--secondary);
  text-align: center;
  padding: 6px 0 6px 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* button {
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color: var(--text);
  background-color: var(--primary);
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  transition-duration: 0.4s;}

button:hover {color:var(--text)!important;background-color:var(--secondary)!important} */

h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}

.mainContent:not(:has(.bg)) {
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  max-width: 1200px;
}

main {
  padding-bottom: 50px;
  margin-top: 91px;
}

li a:not(#pizza-icon):hover {
  color: white;
  transition-duration: 0.4s;
  cursor:pointer;}

/* #6f8f1d

#627e1c

#566d1b

#4a5d1a

#3e4e18

#333f16

#283013

#1d220f

#121508

#000000 */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}